# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs
.vscode
*.dSYM
.idea
.DS_store
cmake-build-debug
build


/output/Release/openapi-cpp-sdk.ipdb
/output/Release/openapi-cpp-sdk.iobj
